#subscribeForm{
    width:100%;
    height:70%;
}
#formForSubscribing{
    width:27%;
    height:90%;
    margin:auto;
    border-radius: 1rem;
    background-color: #647C90;
    box-shadow: 1px 1px 3px grey;
}
#titleOfSubscribeForm{
    font-size:2.7rem;
    font-family: 'Nunito', sans-serif;
    letter-spacing: 1.5rem;
    text-align:center;
    position: relative;
    top:-16.5rem;
}
#wave{
    top:0;
    width:100%;
    height:40%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
#emailAddress{
    display:block;
    font-size:2rem;
    font-family: 'Nunito', sans-serif;
    border-style:solid;
    border-color:white;
    text-align:center;
    outline-style: solid;
    outline-color: #647C90;
    margin-left:3.5rem;
    margin-top:-5rem;
    border-radius: 0.4rem;
}
#subscribeButton{
    font-size:1.5em;
    background-color: white;
    width:40%;
    height:7%;
    font-family: 'Nunito', sans-serif;
    margin-left:9.5rem;
    margin-top:5rem;
    border-radius: 0.4rem;
    border-style:solid;
    border-color:#647C90;
}
#subscribeButton:hover{
    border-color:#4E4F50;
}