#imageAndTextDiv{
    width:100%;
    background-color: #f2f2f0;
    height:82%;
}
#image{
    width:23%;
    height:80%;
    float:left;
    margin-top:4rem;
    margin-left:28rem;
    background-image: url("../../Images/aboutImageManyFishes.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity:1;
}
#image:hover{
    opacity:0.95;
}
#textDiv{
    width:30%;
    height:80%;
    float:left;
    margin-top:4rem;
    margin-left:4rem;
}
#titleOfTextDivInImageAndText{
	font-size: 3rem;
	font-family: 'Nunito', sans-serif;
    margin-top:1.5rem;
    text-align:center;
}
#textOfTextDivInImageAndText{
    font-size: 1.8rem;
	font-family: 'Nunito', sans-serif;
    margin-top:-1rem;
    text-align:center;
}