#ourTeam{
    width:100%;
    height:180%;
}
#firstSection{
    width:100%;
    height:45%;
    margin-top: 5rem;
}
#secondSection{
    width:100%;
    height:45%;
    margin-top: 5rem;
}
.peopleCards{
    margin-top: 2rem;
    margin-left: 9rem;
    width:23%;
    height:90%;
    border-style:solid;
    border-radius: 0.8rem;
    display:inline-block;
}
.circleImage{
    width:45%;
    height:28%;
    border-style:solid;
    border-radius: 100%;
}
