#ourTeam{
    width:100%;
    height:180%;
}
#firstSection{
    width:100%;
    height:45%;
    margin-top: 5rem;
}
#secondSection{
    width:100%;
    height:45%;
    margin-top: 5rem;
}
.peopleCards{
    margin-top: 2rem;
    margin-left: 9rem;
    width:23%;
    height:89%;
    border-radius: 0.8rem;
    float:left;
}
.peopleCards:hover{
    box-shadow: 3px 3px 20px grey;
    transition: 0.6s;
}
.peopleCards:hover #facebookIcon{
    color:#1778f2;
    transition: 0.6s;
}
.peopleCards:hover #twitterIcon{
    color:#1c9cea;
    transition: 0.6s;
}
.peopleCards:hover #instagramIcon{
    color:purple;
    transition: 0.6s;
}
.peopleCards:hover #youtubeIcon{
    color:#f70000;
    transition: 0.6s;
}
.circleImage{
    width:45%;
    height:28%;
    margin:auto;
    margin-top:2rem;
    border-radius: 100%;
    box-shadow: 5px 5px 20px grey;
}
#sonerImage{
    background-image: url("../../Images/sonerCircleImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#zhivkoImage{
    background-image: url("../../Images/zhivkoCircleImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#teresaImage{
    background-image: url("../../Images/teresaCircleImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#alexandraImage{
    background-image: url("../../Images/alexandraCircleImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#stoyanImage{
    background-image: url("../../Images/stoyanCircleImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#peterImage{
    background-image: url("../../Images/peterCircleImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.theTextInTheCards{
    width:100%;
    height:75%;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;

}
.hiI{
    text-align:center;
    font-family: 'Nunito', sans-serif;
    font-size:2.5rem;
}
.role{
    text-align:center;
    font-family: 'Nunito', sans-serif;
    font-size:1.5rem;
    margin-top:-2rem;
}
.mainTextDiv{
    width:100%;
    height:49%;
    margin-top:-1rem;
}
.mainText{
    text-align:center;
    font-family: 'Nunito', sans-serif;
    font-size:1.2rem;
    padding-left:4rem;
    padding-right:4rem;
    margin-top:-0.1rem;
}
.socialIcons{
    width:100%;
    height:10%;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;

}
#facebookIcon{
    color:#808f99;
    font-size:2.5rem;
    margin-left:3.5rem;
    margin-top:0.5rem;
}
#twitterIcon{
    color:#808f99;
    font-size:2.5rem;
    margin-left:3.5rem;
    margin-top:-1rem;
}
#instagramIcon{
    color:#808f99;
    font-size:2.5rem;
    margin-left:3.5rem;
    margin-top:-1rem;
}
#youtubeIcon{
    color:#808f99;
    font-size:2.5rem;
    margin-left:3.5rem;
    margin-top:-1rem;
}