#divForThreeIcons{
    border-style:solid;
    width:70%;
    height:290px;
    margin:auto;
    
}
.divForTheIconsAndTheTextUnderTheIcons{
    border-style:solid;
    width:20%;
    height:290px;
    float:left;
    margin-left:130px;
}
.icons{
    width:51%;
    height:140px;
    margin-left: 65px;
  
}
.textUnderTheIcons{
    border-style:solid;
    width:100%;
    border-color:brown;
    height: 140px;
}
.titleOfTheTextUnderTheIcons{
    font-size:20px;
    font-family: 'Comfortaa', cursive;
    text-align:center;
}
.textOfTheTextUnderTheIcons{
    font-size:14px;
    font-family: 'Comfortaa', cursive;
    text-align:center;
}
