#asideDivForTheNavigationBarLogoAndIcons{
    top:0px;
	position:sticky;
	background-color:#16202b;
	height:57.95rem;
	width:18%;
	margin-top:-16px;
	float:left;
}

#divForTheLogo{
	width:100%;
	height:5rem;
	border-style:solid;
}
#logo{
	width:30%;
	height:6rem;
	margin-left:-1.2em;
}

#asideNavigationBar{
	height:45rem;
	width:100%;
	border-style:solid;
	
}
.navigationnBarLinks{
	display:block;
	text-decoration:none;
	color:#fff;
	font-family: 'Comfortaa', cursive;
	font-size:1.8rem;
	text-align:center;
	margin-top:1em;
}

#profileAndSettingIcon{
	width:100%;
	height:6.5rem;
	border-style:solid;
}
.iconsInTheNavigationBar{
	width:15%;
	height:3rem;
	float:left;
	margin-right:2em;
	margin-top:2em;
}