/*#f2f2f0;*/

#mainDiv{
    width:100%;
    height:100%;
    background-color: red;
    transition: 0.5s; 
    position: absolute;
}
#secondaryDiv{
    width:100%;
    height:100%;
    background-color: blue;
    transition: 0.5s;
    position: absolute;
    transform:scale(0);
}
#mainMain{
    width:20%;
    height:30%;
    position: absolute;
}
#mainMain:hover #mainDiv{
    transform:scale(0);
}
#mainMain:hover #secondaryDiv{
    transform:scale(1);
}
#aaa{
    color:white;
    font-size:3rem;
}