#footer{
    width:100%;
    height:50%;
    background-color: #1e1e1e;
    border-top-style:solid;
    border-top-color:#595959;
    border-top-width:0.3rem;
}
#foolowUsIcons{
    width:80%;
    margin:auto;
    height:60%;
}
#titleDiv{
    width:80%;
    height: 30%;
    margin:auto;
    margin-top:3rem;

}
#title{
    font-size:3.5rem;
    font-family: 'Nunito', sans-serif;
    text-align:center;
    color:white;
}
#hr{
    margin-top:1rem;
    width:15%;
    height:0.1%;
    border-style:solid;
    border-color:white;
    border-radius:1rem;
    background-color: white;
}
#iconsDiv{
    width:35%;
    height:40%;
    margin:auto;
}
.fa{
    text-decoration:none;
    font-size:2rem;
    color:white;
    margin-top:4rem;
    margin-left:5rem;
    transition: ease-in-out 0.5s;
}
.fa-facebook:hover{
    color: #1778f2;
}
.fa-twitter:hover{
    color:#1c9cea;
}
.fa-instagram:hover{
    color:purple;
}
.fa-youtube-play:hover{
    color:#f70000;
}
#copyRightDiv{
    width: 60%;
    height:20%;
    margin:auto;
}
#copyRight{
    font-size:2rem;
    font-family: 'Nunito', sans-serif;
    color:white;
    text-align: center;
}