#heartbreakingDiv{
    width:100%;
    height:70%;
}
#supportDivForBetterLook{
    width:47%;
    height:100%;
    margin:auto;
}
#titleOfTheHeartbreakingDiv{
    font-family: 'Nunito', sans-serif;
    font-size:3rem;
    text-align:center;
    margin-top:3rem;
}
#contentOfTheHeartbreakingDiv{
    font-family: 'Nunito', sans-serif;
    font-size:1.9rem;
    text-align:center;
}