#imageAndText{
    width:100%;
    height:90%;

}
#image{
    width:25%;
    height:90%;
    float:left;
    margin-left:10rem;
    margin-top:2.5rem;
    background-image: url('../../Images/koiFishImage.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#textDiv{
    width:40%;
    height:100%;
    float:left;
    margin-left:15rem;
}
#DivOfTitleOfTextDiv{
    width:75%;
    height:10%;
    margin:auto;
   
}
#titleOfTextDiv{
    font-size: 3rem;
	font-family: 'Nunito', sans-serif;
    margin-top:5rem;
    padding-left:3rem;
    padding-right:3rem;
    text-align:center;
    border-left-style:solid;
    border-right-style:solid;
    border-left-color:#ab7a54;
    border-right-color:#ab7a54;
}
#contentOfTheImageAndText{
    font-size: 2rem;
	font-family: 'Nunito', sans-serif;
    margin-top:5rem;
    padding-left:3rem;
    padding-right:3rem;
    text-align:center;
     
}