#loginDiv{
    width:60%;
    height:80%;
    border-style: solid;
    margin:auto;
    margin-top:7rem;
    margin-bottom:5rem;
}
#extraContent{
    width:50%;
    float:left;
    height:100%;
    background-color: lemonchiffon;
}
#form{
    width:50%;
    float:left;
    height:100%;
}
#titleOfTheForm{
    text-align:center;
    font-family: 'Nunito', sans-serif;
    font-size:3.5rem;
    color:balck;
    margin-top:2rem;
}
#fieldset{
    border-style:solid;
    border-color:white;
}
.label{
    display:block;
    margin-bottom:0.5rem;
    font-family: 'Nunito', sans-serif;
    font-size:2.5rem;
}
.input{
    display:block;
    font-size:1.6rem;
    border-style:solid;
    border-color:white;
    border-bottom-style:solid;
    border-bottom-color:#d0b49f;
    margin-bottom:1rem;
}